<div class="alert alert-<%= type %>" role="alert">
    <span class="close-btn">&times;</span>
    <%= message %>
  </div>>





  <!-- <div class="alert flash">
    <button type="button" class="close">x</button>
    <i class="fa sign" ></i><strong><%= type %></strong>
    <span><%= message %></span>
</div>   -->