<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    
    <ul class="nav navbar-top-links navbar-right">
        <% include navbar-header %>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <div class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a href="<%= systemConfig.prefixAdmin %>/dashboard">
                        <i class="fa fa-dashboard fa-fw"></i> Dashboard
                    </a>
                </li>


                <li>
                    <a href="<%= systemConfig.prefixAdmin %>/items">
                        <i class="fa fa-dashboard fa-fw"></i> CRUD
                    </a>
                </li>


            </ul>
            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </div>
</nav>