<%  
    paginationHelper = (pagination, currentStatus, keyword) => {
    let totalItem = pagination.totalItem;
    let totalItemPerpage = pagination.totalItemsPerPage;
    let totalPage = Math.ceil(totalItem/totalItemPerpage);
    let currentPage = pagination.currentPage;
    let pageRanges = pagination.pageRanges;

    let to = currentPage * totalItemPerpage;
    let from = (to + 1) - totalItemPerpage;
    if(to > totalItem) to = totalItem;
    
    let link = systemConfig.prefixAdmin + '/items/status/' +  currentStatus;

    let xhtmlPagination = '';
    let xhtmlStart =`<li class="disable"><a href="${link}?page=1">Start</a></li>`;
    let xhtmlPrevious = '';
    let xhtmlNext = '';
    let xhtmlPages = '';
    let xhtmlEnd = '';


    if (keyword !== '' && keyword !== undefined) {
        link += '?keyword=' + keyword + '&page=';
    }else {link += '?page=';}
    

    if(currentPage >1){
        xhtmlStart =`<li><a href="${link}1">Start</a></li>`;
        xhtmlPrevious =`<li><a href="${link}${currentPage-1}">Previous</a></li>`;
    } 
    if(currentPage < totalPage) {
        xhtmlEnd = `<li><a href="${link}${totalPage}">End</a></li>`;
        xhtmlNext =`<li><a href="${link}${currentPage+1}">Next</a></li>`;

    }

    let middle = Math.ceil(pageRanges/2); 
    let min = currentPage - middle + 1;
    let max = min + pageRanges - 1;

     if(min <= 1){
         min = 1;
         max = pageRanges;
     }
     if(max >= totalPage){
         max = totalPage;
         min = ((max - pageRanges + 1) < 1 )? 1 : (max - pageRanges + 1);
     }

    for (i= min; i <= max; i++){
        if(i== currentPage){
            xhtmlPages += `<li class="active"><a>${i}</a></li>`;
        }else{
            xhtmlPages += `<li><a href="${link}${i}">${i}</a></li>`;
        }
    }
    
    xhtmlPagination = xhtmlStart + xhtmlPrevious + xhtmlPages +xhtmlNext + xhtmlEnd;

    return `
    <div class="panel panel-info" id="pagination">
        <div class="panel-heading">
          Pagination
          <span class="label label-warning">Total pages: ${totalPage}</span>
          <span class="label label-danger">Total entries: ${totalItem}</span>
        </div>      
        <div class="infor-pagination">
            <p>Number of elements on the page: <span>${currentPage}</span></p>
            <p>Show<span> ${from} </span> to <span> ${to} </span> of <span> ${totalItem} </span> entries</p>
        </div>
        <div class="ad-pagination">
            <ul class="pagination text-center">
            ${xhtmlPagination}
            </ul>
        </div>
  <div class="panel-body"></div>
    `;

}
%>


    


    <!--  
    let xhtmlPagination = '';
    let xhtmlStart = `<li><a href="${link}?page=1">Start</a></li>`;
    let xhtmlPrevious = '';
    let xhtmlNext = '';
    let xhtmlEnd = ''; -->

    <!-- if(currentPage >1) {
        xhtmlStart = `<li><a href="${link}?page=1">Start</a></li>`;
        xhtmlPrevious = `<li><a href="${link}?page=${currentPage-1}">Previous</a></li>`;
    } -->

    
    